<launch>


  <node pkg="ma550ac"
        name="ma550ac_2"
        type="ma550ac.py"
        required="true"
        output="screen">
    <param name="~nid_list" value="[2]" />
    <param name="~datafmt" value="tilt" />
    <param name="~synctime" value="2" />
    <param name="~sync_producer_nid" value="2" />
  </node>


</launch>