<launch>


  <node pkg="ma550ac"
        name="ma550ac_1_3_4"
        type="ma550ac.py"
        required="true"
        output="screen">
    <param name="~nid_list" value="[1,3,4]" />
    <param name="~datafmt" value="tilt" />
    <param name="~synctime" value="10" />
    <param name="~sync_producer_nid" value="1" />
  </node>


</launch>