<launch>

  <node name = "/tiltmeter_nid1"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/xangle' to = '/tiltmeter_nid1_xangle_arcsec'/>
    <remap from = '/yangle' to = '/tiltmeter_nid1_yangle_arcsec' />
    <remap from = '/tilt' to = '/tiltmeter_nid1_angle' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/tiltmeter.conf" />
  </node>

  <node name = "/tiltmeter_nid3"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/xangle' to = '/tiltmeter_nid3_xangle_arcsec'/>
    <remap from = '/yangle' to = '/tiltmeter_nid3_yangle_arcsec' />
    <remap from = '/tilt' to = '/tiltmeter_nid3_angle' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/tiltmeter.conf" />
  </node>

  <node name = "/tiltmeter_nid4"
  	type = "relay.py"
    	pkg = "nasco_system">
    <remap from = '/xangle' to = '/tiltmeter_nid4_xangle_arcsec'/>
    <remap from = '/yangle' to = '/tiltmeter_nid4_yangle_arcsec' />
    <remap from = '/tilt' to = '/tiltmeter_nid4_angle' />
    <param name = "config_file"
           value = "$(find nasco_system)/relay_conf/tiltmeter.conf" />
  </node>

</launch>