<launch>


  <include file="$(find ma550ac)/launch/ma550ac_relay_1_3_4.launch" />

  <include file="$(find ma550ac)/launch/ma550ac_relay_2.launch" />

  <machine name="rpi-ma550ac-1"
           address="rpi-ma550ac-1"
           env-loader="/home/necst/ros/devel/env.sh"
           user="necst"
           password="t10Nante"/>
  <node machine="rpi-ma550ac-1"
        pkg="ma550ac"
        type="ma550ac_1_3_4"
        name="ma550ac_1_3_4"
        required="true"/>

  <machine name="rpi-ma550ac-2"
           address="rpi-ma550ac-2"
           env-loader="/home/necst/ros/devel/env.sh"
           user="necst"
           password="t10Nante"/>
  <node machine="rpi-ma550ac-2"
        pkg="ma550ac"
        type="ma550ac_2"
        name="ma550ac_2"
        required="true"/>


</launch>